
:javascript
  console.log('test');
  
- if user_signed_in?

  -unless post.like_user(current_user.id).blank? # 空白（blank）ではない時（unless）、実行する。いいねしてるかどうか。like_userメソッドを自作？
    = link_to post_likes_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do


-# = link_to "#", class: "star-btn" do
-#   = icon('fas', 'star')  